{% extends "layout.html" %}

{% block content %}
<h2>Login</h2>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form action="/accounts/login/" method="post">{% csrf_token %}

    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
    </div>
	{% endfor %}
    <p><input type="submit" class="btn btn-success" value="Submit" /></p>
</form>
<p>If you don't have an account, register <a href="/accounts/register">one</a>.
{% endblock %}