{% extends "layout.html" %}

{% block content %}
<script type="text/javascript">

    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }

</script>

<script src="{{ STATIC_URL }}Chart.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>

function generate_chart_data(monthly_data, color) {
		var labels = [];
		var data = [];
		console.log(monthly_data);
		for (var key in monthly_data) {
			console.log(key);
			var value = monthly_data[key];
			labels.push(key);
			data.push(value);
	  		
		}
		var chart_data = {
			labels: labels,
			datasets : [
				{
					fillColor : color,
					strokeColor : color,
					pointColor : color,
					data : data
				},
				
			]
		};
		return chart_data;
	};
var frequency_data;
$.ajax({
  url: "/api/retrospective/frequency",
  context: document.body
}).success(function(data) {
 console.log("success!");
 console.log(data)
 frequency_data = data;

 var ctx = document.getElementById("monthlyChart").getContext("2d");
 var frequency_month_chart_data = generate_chart_data(data.number_per_month, "blue");
	console.log(frequency_month_chart_data);
	new Chart(ctx).Bar(frequency_month_chart_data);


 var ctx = document.getElementById("weekdayChart").getContext("2d");
 var frequency_weekday_chart_data = generate_chart_data(data.number_per_weekday, "blue");
	console.log(frequency_weekday_chart_data);
	new Chart(ctx).Bar(frequency_weekday_chart_data);
});

$.ajax({
  url: "/api/retrospective/content",
  context: document.body
}).success(function(data) {
 console.log("success!");
 console.log(data)
 frequency_data = data;

 var ctx = document.getElementById("learnedChart").getContext("2d");
 var learned_chart_data = generate_chart_data(data.learned, "green");
	new Chart(ctx).Bar(learned_chart_data);

var ctx = document.getElementById("failedChart").getContext("2d");
 var failed_chart_data = generate_chart_data(data.failed, "pink");
	new Chart(ctx).Bar(failed_chart_data);

var ctx = document.getElementById("succeededChart").getContext("2d");
 var succeeded_chart_data = generate_chart_data(data.succeeded, "yellow");
	new Chart(ctx).Bar(succeeded_chart_data);
 
});

function generate_project_block(project_name) {
	return "<h3>" + project_name + "</h3>" + "<canvas id='" + project_name +"Chart' width='400' height='300'></canvas>"
}

window.onload = function() {
	
$.ajax({
  url: "/api/projects",
  context: document.body
}).success(function(project_data) {
 console.log("success!");
 

	for (var project_name in project_data) {
		var project_block = generate_project_block(project_name) 
		$( "#projects" ).append(project_block);
		console.log(project_name, project_data[project_name])
		 var ctx = document.getElementById(project_name + "Chart").getContext("2d");
		 var project = generate_chart_data(project_data[project_name], "purple");
		 new Chart(ctx).Bar(project);
	}
		
});
	
	
};
//Get the context of the canvas element we want to select


</script>
<h1>Hello {{ username }}!</h1>
<h1>Dashboard</h1>

<p>
	Configure your things here!
</p>
<h1>Your projects</h1>
<dl>



{% for project in projects %}
<div class="row">
<div class="col-lg-6">
  <dt>{{ project.title }}</dt>
  <dd>{{ project.description }}</dd>
</div>
<div class="col-lg-6">
	<form class="form-horizontal" action="/core/change/project" method="get">{% csrf_token %}
		<input name="id" style="display:none" value="{{project.id}}"></input>
		<button type="submit" name="id" value="{{project.id}}" class="btn btn-primary btn-xs">
			Change
		</button>
	</form>
	
</div>
</div>
{% empty %}
<p>
You haven't create any projects yet.
</p>
{% endfor %}
</br>
<p>
	<a href="/core/create/project" class="btn btn-success">
		Create project
	</a>
</p>

<h1>Your past retrospectives</h1>
{% for retrospective in retrospectives %}
	<div class="row">
		<div class="col-lg-6">
			<h3>Retrospective from {{ retrospective.created }}</h3>
		</div>
		<div class="col-lg-3">
			<a class="btn btn-primary" style="margin: 10px" onclick="toggle_visibility('retrospective-{{ forloop.counter }}');">Expand</a>
		</div>
	</div>
	<div id="retrospective-{{ forloop.counter }}"style="display:none;">
		{{ retrospective.as_table|safe }}
	</div>
{% empty %}
	You don't have any yet :/
{% endfor %}

<p>
	<a href="/core/create/learned" class="btn btn-success btn-xs">
			Create new
	</a>
</p>
<h1>Your emailing settings</h1>
	{% if mailing_configuration %}
		{% if mailing_configuration.every_week %}
			<p>
				Mails with reminders about retrospective will be sent to you every
				{{ mailing_configuration.day_of_the_week }}.
			</p>
		{% endif %}
		<p>
			<a href="/core/create/mailing" class="btn btn-primary">
				Change
			</a>
		</p>
	{% else %}
		<p>
			You don't have mailing configuration yet.
		</p>
		<p>
			<a href="/core/create/mailing" class="btn btn-success">
				Create mailing configuration
			</a>
		</p>
	{% endif %}
<h1>Statistics</h1>
<h2>Histograms</h2>
<div class="row">
		<div class="col-lg-5">
			<h3>Number of retrospectives per month</h3>
			<canvas id="monthlyChart" width="400" height="300"></canvas>
		</div>
		<div class="col-offset-2 col-lg-5">
			<h3>Number of retrospectives per weekday</h3>
			<canvas id="weekdayChart" width="400" height="300"></canvas>
		</div>
	
</div>
</br>
<div class="row">
		<div class="col-lg-3">
			<h4>'learned' by retrospective</h4>
			<canvas id="learnedChart" width="250" height="300"></canvas>
		</div>
		<div class="col-offset-2 col-lg-3">
			<h4>'failed' by retrospective</h4>
			<canvas id="failedChart" width="250" height="300"></canvas>
		</div>
		<div class="col-offset-2 col-lg-2">
			<h4>'success' by retrospective</h4>
			<canvas id="succeededChart" width="250" height="300"></canvas>
		</div>
</div>

<div id="projects">
	<h2>Number of entries for each of your projects</h2>	
</div>
<h1>Data export</h1>
	<p>Browse your data 
		<a  class="btn btn-primary btn-xs" href="/api/retrospectives">
			as api view
		</a>
		or 
	 	<a  class="btn btn-primary btn-xs" href="/api/retrospectives?format=json">
	 		as raw json
	 	</a>
	 	.
	 </p>
<h1>Account details</h1>
<p> Your email address is: {{ email }} </p>
<p> To change your password click: 
	<a  class="btn btn-warning btn-xs" href="/accounts/change_password">
			Change password
	</a>
{% endblock %}