

{% extends "layout.html" %}

{% block content %}
<h2>{{ question }}</h2>
<div class="col-lg-6">
<form class="form-horizontal" action="{{action}}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in form %}
            {% if field.errors %}
                <div class="form-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="form-control">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div >{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="form-actions">
        {% if not single %}
            <button type="submit" name="more" class="btn btn-default" >
                Submit and add next entry
            </button>
        {% endif %}
        <button type="submit" class="btn btn-success" >Submit</button>
    </div>
    </fieldset>    
</form>
</div>
{% endblock %}