
{% extends "layout.html" %}

{% block content %}
<h1>Welcome at retrospectively!</h1>
<p>You probably want to know, what this is about.</p>

<p>
	To make it short:
	
<p>It's an idea inspired by quantified self and raspberries (yes, I was eating raspberries then)</p>

<h2>I wanted following things:</h2>
<ul>
<li>retrospective once a week</li>
<li>get an email with link to the form</li>
<li>be able to browse my past retrospectives</li>
<li>retrospectives to be in a form easy for quantification</li>
<li>charts</li>
<li>simple statistics</li>
<li>easy export to csv, json, whatever</li>
<li>programmer api</li>
<li>whole platform be secure and private</li>
<li>sharability</li>
	
</ul>
</p>

<h2>How it is implemented?</h2>
	<ul>
	  <li>django</li>
	  <li>Twitter bootstrap</li>
	  <li>django rest framework</li>
	</ul>

<h2>How can you support me?</h2>
<ul>
	<li>Write me an email at: justyna.ilczuk@gmail.com</li>
	<li>Submit an issue on github <a href="https://github.com/atteroTheGreatest/retrospective"> repository</a> </li>
	<li>Send me some money :)</li>
</ul>

<h2>Let's take a journey!</h2>
<p><a href="/core/introduction">introduction</a></p>
{% endblock %}
