
{% extends "layout.html" %}

{% block content %}
<h1>Shubadubudu, welcome at retrospectively!</h1>
<p>You probably want to know, what this is about.</p>

<p>
	To make it short:
	<ul>
<li>it's an idea inspired by quantified self and raspberries (yes, I was eating raspberries then)</li>
<li>i want to make retrospective once a week</li>
<li>there will be a form with fields like: "What did I learn?", "How is my progress in different fields?", "Conclusions", "Thoughts", and so on</li>
<li>i want to get an email with link to the form</li>
<li>i want to be able to browse my past retrospections</li>
<li>i want it to be in form easy for quantification</li>
<li>i want charts</li>
<li>i want simple statistics</li>
<li>i want easy export to csv, json, whatever</li>
<li>i want programmer api</li>
<li>i want it to be secure and private</li>
<li>i want to share, if it's nice and sharable</li>
	<li>implementation
		<ul>
		  <li>django</li>
		  <li>Twitter bootstrap</li>
		  <li>angular js</li>
		</ul>
	</li>
</ul>
</p>

<h2>Let's take a journey!</h2>
<p><a href="/core/create/learned">create a retrospection</a></p>
{% endblock %}
