{% extends "layout.html" %}

{% block content %}
<h2>Creation of retrospection</h2>

<p>Creating a retrospective consists of four parts.</p>
<p>The first is "What did I learn?". You will be asked about what you learned. There will be a form for each entry. You can submit as many entries as you want.</p>
<p>The second part is about failures. Failures are painful, but very valuable when considering a retrospective.</p>
<p>The third part is pretty sweet, you fill a form about your successes. As before, you can submit as many entries as you need.</p>
<p>Last part is a bit more general. You write a general retrospective, which is made of two sections: summary and directions.</p>
<p>After it you would be able to review your retrospective and submit it or not. It's not possible yet, to change entries you submitted before.</p>
<h2>Projects</h2>
<p>It's important to create projects before you create a retrospective, because successes and failures are directly bound to projects. And without projects, you wouldn't be able to create any of those entries.
</p>
<p>
	<a href="create/project" class="btn btn-primary">
		Create project
	</a>
</p>
<p>
	<a href="create/learned" class="btn btn-primary">
		Create retrospection
	</a>
</p>

{% endblock %}