{% extends "layout.html" %}

{% block content %}
<h2>Creation of retrospection</h2>

<p>Creating retrospective has four parts.</p>
<p>The first part is "What did I learn?". You will be asked about what you learned. There will be form for each entry. You can submit as many entries, as you want.</p>
<p>The second part is about failures. Failures are painful, but very valuable if you consider retrospection.</p>
<p>The third part is pretty sweet, you fill a form about your successes. As before, you can submit as many entries that you want.</p>
<p>Last part is a bit general. You write general retrospection, there are two sections: summary and directions.</p>
<p>After it you would be able to review your retrospection and submit it or not. It's not possible yet, to change entries you submitted before.</p>
<h2>Projects</h2>
<p>It's important to create projects before you create retrospection, because successes and failures are directly bound to projects. And without projects, you wouldn't be able to create any of those entries.
</p>
<p>
	<a href="create/project" class="btn btn-primary">
		Create project
	</a>
</p>
<p>
	<a href="create/learned" class="btn btn-primary">
		Create retrospection
	</a>
</p>

{% endblock %}