{% extends "layout.html" %}

{% block content %}
<script src="http://code.jquery.com/jquery-2.0.2.min.js" type='text/javascript'></script>
<script type="text/javascript" src="/static/parsley.js"></script>

<h1> Trying new workflow '{{ workflow_title }}'</h1>
<div class='row'>
    <div class="col-sm-6 col-md-5 col-lg-6">
        <form data-validate="parsley" action={{action}} method="POST" id='workflow-form'>
          {% csrf_token %}

        {% for form_entry in workflow_form %}
            {{ form_entry.input|safe}}
        {% endfor %}

          <input type='hidden' name='title' value='{{ workflow_title }}'></input>

            <br />
          <button class='btn btn-default' 
                  onclick="javascript:$('#workflow-form').parsley( 'validate' );">
            Save!
          </button>
        </form>
    </div>
</div>
{% endblock %}
