
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL}}bootstrap.css" />

    <title>{% block title %}Retrospective{% endblock %}</title>
</head>

<body>
    <div class="container" id="header">
    	<div class="col-lg-2 well-small">
	    	<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTIOfvz-d5OmEDK0PweDUfEZ-bJuwk93Xl5EUn9a5KZ4yAKiwUk_w">
    	</div>
    	<div class="col-lg-10">
    		</br>
    		</br>
    		</br>
    		</br>
    		</br>
    		</br>
			<h1 class="page-header">Retrospectives matter</h1>
		</div>
	</div>
	
    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
    <div id="footer" class="container">
        </hr>
        <div class="well-large">

            <a href="/core">
                back home
            </a>

            <a href="../more">
                learn more
            </a>
            {% if user.is_authenticated %} 
                <a href="/accounts/logout"> logout</a>, 
                <a href="/accounts/profile">view dashboard</a>
            {% else %}
                <a href="/accounts/login">login</a> 
            {% endif %}

        </div>
    </div>
</br>
</body>
</html>
